*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html{
  height: 100%;
}

.hero-image{
  background-image:  url("assets/images/code4.jpg");
  height: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 10px;
}

#main-title {
  color: #bd7a21;
  font-family: "Amatic SC", cursive;
  font-size: 120px;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 1;
}

#sub-title{
  color: #597332;
  font-family: "Amatic SC", cursive;
  font-size: 60px;
  text-align: center;
  padding: 10px 0px;
  margin: 0;
}

nav {
  display: flexbox;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 0px 10px;
  font-family: 'Josefin Slab', serif;
  font-size: 30px;
  /* font-weight: bold; */
}

nav a {
  text-decoration: none;
  color: #423f3f;
}

nav a:hover {
  color: #a2a2a2;
}

.who-are-we{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.section-heading{
  font-size: 40px;
  color: #3C4959;
  text-align: center;
  font-family: "Amatic SC", cursive;
  margin: 20px;
  grid-column: 3/ span 1;
}

.who-we-are-para {
  text-align: center;
  grid-column: 2/span 3;
  margin-bottom: 50px;
  font-size: 24px;
  font-family: 'Josefin Slab', serif;
}

.events{
  border: 5px dotted #597332;
  margin: 2em;
}

.event-text{
  display: grid;
  grid-template-columns: 25%  25% 25% 25%;
}

#event-table-title {
  text-align: left;
  color: #597332;
}

.event-name{
  font-family: 'Josefin Slab', serif;
  font-size: 24px;
  margin: 5px;
  color: #597332;
}

.event-time{
  font-family: 'Josefin Slab', serif;
  font-size: 24px;
  margin: 5px;
  color: #708090;
}

.event-place{
  font-family: 'Josefin Slab', serif;
  font-size: 24px;
  margin: 5px;
  color: #708090;
}

.event-info{
  font-family: 'Josefin Slab', serif;
  font-size: 24px;
  margin: 5px;
  color: #708090;
}

.contact-us-section {
  background-color: #708090;
  margin-bottom: 10px;
}

.contact-us-heading {
    font-family: "Amatic SC", cursive;
    font-size: 40px;
    color: #304536;
    text-align: center;
}

.contact-details {
  font-size: 24px;
  font-family: 'Josefin Slab', serif;
  text-align: center;
  margin: 1em;
  color:#E5EFE8;
}

.button {
  text-align: center;
}

.button button {
  text-align: center;
  font-family: 'Josefin Slab', serif;
  background-color: white;
  color: #708090;
  width: 10em;
  height: 2.5em;
  font-size: 16px;
  margin-bottom: 1em;
}

footer p {
  text-align: center;
  margin: 0.5em;
  font-family: 'Josefin Slab', serif;
}
